streamlit
python-dotenv
langchain==0.3.0
langchain-core==0.3.0
langchain-groq==0.2.0
langchain-community==0.3.0
langchain-text-splitters==0.3.0
sentence-transformers
chromadb
pypdf
graphviz
protobuf==3.20.3